/* muli-300 - latin */
@font-face {
	font-family: 'Muli-Light';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/muli-v20-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
			 url('../fonts/muli-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/muli-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/muli-v20-latin-300.woff') format('woff'), /* Modern Browsers */
			 url('../fonts/muli-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/muli-v20-latin-300.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-regular - latin */
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/muli-v20-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
			 url('../fonts/muli-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/muli-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/muli-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
			 url('../fonts/muli-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/muli-v20-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-700 - latin */
@font-face {
	font-family: 'Muli-Bold';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/muli-v20-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
			 url('../fonts/muli-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../fonts/muli-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/muli-v20-latin-700.woff') format('woff'), /* Modern Browsers */
			 url('../fonts/muli-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/muli-v20-latin-700.svg#Muli') format('svg'); /* Legacy iOS */
}
