#sessionsButtonPanel {
	width: auto;
	height: auto;
	position: absolute;
	margin: 0 auto;
	bottom: 0;
	left: 0;
	margin: 10px;
	padding: 5px;
	border-radius: var(--rounded-radius);
	transition: opacity var(--transition-speed);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sessionsButton {
	width: 48px;
	height: 48px;
	cursor: pointer;
}

.sessionsButton:hover {
	border-radius: var(--rounded-radius);
	background-color: var(--base-hover-bg);
}

.sessionsButton:focus {
	border-radius: var(--rounded-radius);
	background-color: var(--base-focus-bg);
}

.sessionsButton:active {
	border-radius: var(--rounded-radius);
	background-color: var(--base-active-bg);
}

.sessionsButtonImage {
	width: 48px;
	height: 48px;
	border-radius: var(--rounded-radius);
	object-fit: contain;
	display: block;
	padding: 5px;
}