#settingsScreen.screen {
	z-index: 5;
	top: -100vh;
	left: 0;
	padding: 10px;
}

#settingsScreen.settingsScreenShow {
	top: 0;
}

#settingsScreenBackground.screenBackground {
	background-image:
					linear-gradient(
						rgba(0, 0, 0, 0.5),
						rgba(0, 0, 0, 0.5)
					),
					url('../../assets/bg.jpg');
	filter: blur();
}

#settingsScreenContent {
	height: 100%;
	width: 600px;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
    align-items: center;

	/* Align vertically and horizontally */
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#settingsScreenContentCenter {
	height: auto;
	width: auto;
	margin: auto 0;
}

#settingsBackgroundImage {
	width: auto;
	height: auto;
	display: block;
}

#settingsPreviewFileNameContainer {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	align-items: center;
}

label#previewFileName {
	font-family: Muli, sans-serif;
	font-weight: 400;
	margin: 0 auto;
	font-size: 12pt;
	margin-top: 10px;
	text-align: center;
	color: var(--base-color);
}

#settingsPreviewContainer {
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
}

#backgroundImagePreviewContainer {
	width: auto;
	height: 250px;
	position: relative;
	background: var(--base-container);
	border-radius: var(--rounded-radius);
}

#previewBackgroundImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--rounded-radius);
	transition: all var(--transition-speed);
}

.previewButton {
	width: 48px;
	height: 48px;
	min-width: 48px;
	min-height: 48px;
	border-radius: 50%;
	position: relative;
	padding: 10px;
	margin: 0 10px;
	cursor: pointer;
}

.previewButtonImage {
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
}

#previewImageBackButton #previewImageBackImage.previewButtonImage {
	background-image: url('../../assets/back.svg');
}

#previewImageNextButton #previewImageNextImage.previewButtonImage {
	background-image: url('../../assets/next.svg');
}

button.previewButton#previewImageBackButton:hover,
button.previewButton#previewImageNextButton:hover {
	background: var(--base-hover-bg);
}

button.previewButton#previewImageBackButton:focus,
button.previewButton#previewImageNextButton:focus {
	background: var(--base-focus-bg);
}

button.previewButton#previewImageBackButton:active,
button.previewButton#previewImageNextButton:active {
	background: var(--base-active-bg);
}

#variableSettingsContainer {
	width: 350px;
	position: relative;
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
}

#variableSettingsContainer .variableSettingsGroup {
	margin-top: 5px;
}

#variableSettingsContainer #settingsBackground.variableSettingsGroup {
	margin-top: 0;
}

label.settingsLabel {
	font-family: Muli, sans-serif;
	font-weight: 400;
	font-size: 11pt;
	margin: 0 5px;
	text-align: left;
	color: var(--base-color);
}

input.settingsInput {
	background: var(--base-container);
	width: 75%;
	height: 48px;
	margin: 5px;
}

input.settingsInputExt {
	width: 25%;
}

input.settingsInputWide {
	width: 100%;
}

div.settingsInputGroup {
	display: flex;
}

#settingsMainButtons {
	display: flex;
	margin-top: 5px;
}

button.settingsButton {
	background: var(--base-container);
	width: 100%;
	height: 48px;
	margin: 5px;
	cursor: pointer;
}

button.settingsButton:hover {
	background: var(--base-hover-bg);
}

button.settingsButton:focus {
	background: var(--base-focus-bg);
}

button.settingsButton:active {
	background: var(--base-active-bg);
}

div#settingsRandomBackground {
	width: 100%;
	margin: 10px;
	height: auto;
	position: relative;
	display: flex;
}

div#settingsRandomBackgroundContent {
	height: auto;
	align-items: center;
	margin: 0 auto;
	display: flex;
}

#settingsRandomBackgroundLabel {
	color: var(--base-color);
	font-family: Muli, sans-serif;
	font-size: 12pt;
	font-weight: 10px;
	margin: auto 10px;
}
