:root {
	/* Colors */
	--base-body-bg: #1a1a1aff;
	--base-bg: #00000066;
	--base-selected-bg: var(--base-bg);
	--base-color: #fefefeff;
	--base-container: #f2f2f220;
	--base-hover-bg: #f2f2f230;
	--base-focus-bg: #f2f2f245;
	--base-active-bg: #fefefe60;
	--blur-strength: 12px;
	--panel-bg: var(--base-bg);
	--panel-color: var(--base-color);
	--transition-speed: 300ms;
	--rounded-radius: 6px;
	--base-error-bg: #ff3a3060;
	--base-success-bg: #28cd4160;
}

/* Placeholder */
::placeholder {
	font-family: Muli-Bold, sans-serif;
	font-weight: 700;
	color: var(--base-color);
	opacity: 0.75;
}

* {
	box-sizing: border-box;
	
	/* Font rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: none;

	/* Disable tap hightlight color on mobile devices */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--base-body-bg);
}

html,
body {
	font-family: Muli, sans-serif;
	height: 100%;
	position: fixed;
}

/* Buttons */
button,
input {
	background: transparent;
	color: var(--base-color);
	border: none;
	font-family: Muli, sans-serif;
	text-align: center;
	outline: none;
	padding: 5px;
	height: 36px;
	border-radius: 6px;
}

/* Select */
select {
	text-align: center;
	text-align-last: center;
}

/* Hide focus elements outline */
input:focus,
textarea:focus,
select:focus {
	outline: none;
}

option {
	text-align: left;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
