.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--rounded-radius);
	background-color: var(--base-container);
	transition: 0.4s;
}

.slider::before {
	color: transparent;
	position: absolute;
	content: attr(data-off);
	line-height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	border-radius: var(--rounded-radius);
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--base-blue);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--base-blue);
}

input:checked + .slider::before {
	content: attr(data-on);
	transform: translateX(26px);
}
