.tooltipParent {
	position: relative;
	display: inline-block;
}

.tooltipParent .tooltipMessage {
	display: none;
	background-color: var(--base-bg);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	transition: all var(--transition-speed);
}

.tooltipParent .tooltipMessage::after {
	content: " ";
	position: absolute;
	border-style: solid;
}

/* Top side tooltop */
.tooltipParent .tooltipMessage.tooltipTop {
	width: 120px;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltipParent .tooltipMessage.tooltipTop::after {
	top: 100%; 
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-color: var(--base-bg) transparent transparent transparent;
}

.tooltipMessage.tooltipTop.tooltipError {
	display: block;
	opacity: 1;
	font-family: Muli-Bold, sans-serif;
	font-weight: 700;
	background: var(--base-error-bg);
}

.tooltipMessage.tooltipTop.tooltipError::after {
	border-color: var(--base-error-bg) transparent transparent transparent;
}

/* Bottom side tooltop */
.tooltipParent .tooltipMessage.tooltipBottom {
	width: 120px;
	top: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltipParent .tooltipMessage.tooltipBottom::after {
	bottom: 100%; 
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-color: transparent transparent var(--base-bg) transparent;
}

.tooltipMessage.tooltipBottom.tooltipError {
	display: block;
	opacity: 1;
	background: var(--base-error-bg);
}

.tooltipMessage.tooltipBottom.tooltipError::after {
	border-color: transparent transparent var(--base-error-bg) transparent;
}

/* Right side tooltop */
.tooltipParent .tooltipMessage.tooltipRight {
	width: 120px;
	top: -5px;
	left: 105%;
}

.tooltipParent .tooltipMessage.tooltipRight::after {
	top: 50%; 
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-color: transparent var(--base-bg) transparent transparent;
}

.tooltipParent.tooltipHover:hover .tooltipMessage {
	display: block;
}

.tooltipMessage.tooltipRight.tooltipError {
	display: block;
	opacity: 1;
	background: var(--base-error-bg);
}

.tooltipMessage.tooltipRight.tooltipError::after {
	border-color: transparent var(--base-error-bg) transparent transparent;
}

/* Left side tooltop */
.tooltipParent .tooltipMessage.tooltipLeft {
	width: 120px;
	top: -5px;
	right: 105%;
}

.tooltipParent .tooltipMessage.tooltipLeft::after {
	top: 50%; 
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-color: transparent transparent transparent var(--base-bg);
}

.tooltipMessage.tooltipLeft.tooltipError {
	display: block;
	opacity: 1;
	background: var(--base-error-bg);
}

.tooltipMessage.tooltipLeft.tooltipError::after {
	border-color: transparent transparent transparent var(--base-error-bg);
}
