#screensButtons {
	width: 100%;
	height: auto;
	display: flex;
	position: absolute;
	bottom: 10px;
}

button.screensButton {
	width: auto;
	height: auto;
	margin: 10px;
	border-radius: var(--rounded-radius);
}

button.screensButton,
button.screensButton > * {
	cursor: pointer;
}

button.screensButton:hover {
	background-color: var(--base-hover-bg);
}

button.screensButton:focus {
	background-color: var(--base-focus-bg);
}

button.screensButton:active {
	background-color: var(--base-active-bg);
}

img.screensButtonImage {
	width: 48px;
	height: 48px;;
	object-fit: cover;
	display: block;
	padding: 5px;
}

button#sessionsScreenButton.screensButton {
	display: flex;
	border-radius: var(--rounded-radius);
}

#sessionsScreenButton label#sessionsScreenLabel {
	color: var(--base-color);
	font-family: Muli-Light, sans-serif;
	font-weight: 300;
	vertical-align: bottom;
	font-size: 30pt;
}

div.screensButtonLeftSide {
	margin-right: auto;
}

div.screensButtonRightSide {
	margin-left:auto;
}
